<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/juicy-html/juicy-html.html">

<polymer-element name="note-base" attributes="caption body" noscript>
	<template>
		<style>
			.note {
				background: #fff; 
				padding-bottom: 10px;
				text-align: center;
				width: 100%;
			}
			.caption {
				color: red;
			}
			.content {
				color: blue;
			}
		</style>

		<div class="note">
    		<h1 class="caption">{{caption}}</h1>

    		<template is="juicy-html" content="{{body}}"></template>
    	</div>
  	</template>
</polymer-element>