<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="note-base.html">

<polymer-element name="note-base" attributes="note-title note-content" noscript>
	<template>
		<style>
			.title {
				color: red;
			}
			.content {
				color: blue;
			}
		</style>

    	<h1 class="title">{{note-title}}</h1>
    	// <div class="content">{{content}}</div>
    	<inner-html>{{note-content}}</inner-html>
  	</template>
</polymer-element>