<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="note-base.html">

<polymer-element name="note-list">
 	<template>
 		<style>
 			.note-list {
 				max-width: 80%;
 				margin: 0 auto;
 			}
		</style>
  
	    <core-ajax 
	      id="ajax"
	      url="/notes" 
	      auto 
	      handleAs = "json"
	      on-core-response="{{onDataReady}}">
	    </core-ajax>

	    <div class="note-list">
	    	<template repeat="{{data as model}}">
	        	<note-base caption="{{model.title}}" body="{{model.content}}"></note-base>
	    	</template>
		</div>
	</template>

	<script>
		Polymer({
			onDataReady: function() {
				this.data = this.$.ajax.response;

			}
		});

	</script>
</polymer-element>